.aboutcontent{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutcontent h1{
    margin: 0 auto;
    width: 50%;
    font-size: 40px;
    text-align: center;
    /* background-color: red; */
    color: white;
}
.aboutcontent p{
    color: white;
    font-size: 20px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .aboutcontent{
        height: 50vh;
    }
    .aboutcontent h1{
        width: 80%;
    }
}
    .aboutcontent p{
        width: 80%;
    }
}